 <!DOCTYPE html>
<html>

<head>
    <title>Task Management System</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        nav {
            margin-top: 10px;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px;
            background-color: black;
            color: white;
            text-align: center;
        }

        .register-link {
            color: white;
            text-decoration: none;
            margin-right: 20px;
            font-weight: bold;
        }

        .register-link:hover {
            color: aqua;
        }
    </style>
</head>

<body>
    <header>
        <nav
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 20px; background-color: black ;color:white">
            <h1 style="color: white; margin: 0; font-size: 24px;">Task Management System</h1>
            <div>
                <a asp-controller="Account" asp-action="Register" class="register-link">Register</a> @* razor tag helpers *@
                <a asp-controller="Account" asp-action="Login" class="register-link">Login</a>
            </div>
        </nav>

    </header>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts",required:false)

    <footer>
        <p>&copy; 2025 Task Management System</p>
    </footer>
</body>

</html>
